 .u-section-1 {
  background-image: linear-gradient(120deg, #ff313a, white);
  min-height: 1018px;
}

.u-section-1 .u-image-1 {
  width: 251px;
  height: 147px;
  margin: -1334px 0 60px auto;
}

.u-section-1 .u-image-2 {
  width: 894px;
  height: 302px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px auto 0;
}

.u-section-1 .u-image-3 {
  width: 311px;
  height: 182px;
  margin: -364px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 405px;
  height: 405px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 246px auto 0 calc(((100% - 1140px) / 2) + 113px);
}

.u-section-1 .u-image-5 {
  width: 405px;
  height: 405px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -405px calc(((100% - 1140px) / 2) + 123px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 867px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 61px;
  }

  .u-section-1 .u-image-3 {
    width: 209px;
    height: 122px;
    margin-top: -363px;
  }

  .u-section-1 .u-image-4 {
    width: 339px;
    height: 339px;
    margin-top: 241px;
    margin-left: calc(((100% - 940px) / 2) + 85px);
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 340px;
    margin-top: -340px;
    margin-right: calc(((100% - 940px) / 2) + 104px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 816px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 243px;
  }

  .u-section-1 .u-image-3 {
    height: 123px;
    margin-top: -303px;
  }

  .u-section-1 .u-image-4 {
    width: 295px;
    height: 295px;
    margin-left: calc(((100% - 720px) / 2) + 27px);
  }

  .u-section-1 .u-image-5 {
    width: 295px;
    height: 295px;
    margin-top: -295px;
    margin-right: calc(((100% - 720px) / 2) + 25px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 986px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    height: 182px;
    margin-top: -57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -799px;
    margin-right: -115px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 26px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 761px;
  }

  .u-section-1 .u-image-1 {
    width: 144px;
    height: 85px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-image-2 {
    margin-top: -14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    width: 207px;
    height: 207px;
    margin-top: 0;
  }

  .u-section-1 .u-image-5 {
    width: 206px;
    height: 206px;
    margin-top: 48px;
    margin-bottom: 47px;
  }
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-color: transparent !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-5 {
  border-color: transparent !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-5 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 483px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 74px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 631px;
  margin: 74px auto 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(120deg, #72efe9, #a3f0c2);
  margin: 9px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 67px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 44px;
  }
}