 .u-section-1 {
  background-image: linear-gradient(#a3f0c2, white);
}

.u-section-1 .u-image-1 {
  width: 894px;
  height: 302px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 63px auto 0 calc(((100% - 1140px) / 2) + 123px);
}

.u-section-1 .u-image-2 {
  width: 311px;
  height: 182px;
  margin: -365px 0 0 auto;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 210px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 406px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 0;
}

.u-section-1 .u-image-3 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  width: 351px;
  height: 351px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-1 .u-image-4 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  width: 351px;
  height: 351px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 28px 0;
}

.u-section-1 .u-image-5 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  width: 351px;
  height: 351px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-1 .u-image-6 {
  width: 251px;
  height: 147px;
  margin: -1334px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 61px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 209px;
    height: 122px;
    margin-top: -363px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 263px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 351px;
  }

  .u-section-1 .u-image-3 {
    width: 286px;
    height: 286px;
  }

  .u-section-1 .u-image-4 {
    width: 286px;
    height: 286px;
  }

  .u-section-1 .u-image-5 {
    width: 286px;
    height: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 243px;
    margin-top: 43px;
  }

  .u-section-1 .u-image-2 {
    height: 123px;
    margin-top: -285px;
  }

  .u-section-1 .u-list-1 {
    width: 388px;
    margin-top: 136px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1143px;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 334px;
    height: 334px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 334px;
    height: 334px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-5 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 334px;
    height: 334px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1413px;
  }

  .u-section-1 .u-image-1 {
    height: 182px;
    margin-top: 100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -799px;
    margin-right: -115px;
  }

  .u-section-1 .u-list-1 {
    width: 381px;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1044px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1178px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 902px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    width: 281px;
    height: 281px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    width: 281px;
    height: 281px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-5 {
    width: 281px;
    height: 281px;
  }

  .u-section-1 .u-image-6 {
    width: 144px;
    height: 85px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -1114px;
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-3 {
  border-color: transparent !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-color: transparent !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-5 {
  border-color: transparent !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-5 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(white, #ffda6c);
}

.u-section-2 .u-sheet-1 {
  min-height: 713px;
}

.u-section-2 .u-image-1 {
  width: 364px;
  height: 364px;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 196px auto 0 388px;
}

.u-section-2 .u-image-2 {
  width: 866px;
  height: 443px;
  margin: -788px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 180px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -772px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 128px;
  }

  .u-section-2 .u-image-2 {
    height: 368px;
    margin-top: -677px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-2 .u-image-1 {
    width: 334px;
    height: 334px;
    margin-top: 168px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -626px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-2 .u-image-1 {
    height: 305px;
    width: 305px;
    margin-top: 77px;
  }

  .u-section-2 .u-image-2 {
    height: 154px;
    margin-top: -459px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}