 .u-section-1 {
  background-image: linear-gradient(white, #8ec7ff);
  min-height: 1693px;
}

.u-section-1 .u-image-1 {
  width: 206px;
  height: 119px;
  margin: -599px 0 60px auto;
}

.u-section-1 .u-image-2 {
  width: 191px;
  height: 112px;
  margin: 59px 0 60px auto;
}

.u-section-1 .u-image-3 {
  width: 311px;
  height: 182px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 1153px;
  height: 389px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -182px auto 0;
}

.u-section-1 .u-group-elements-1 {
  width: 672px;
  min-height: 1236px;
  height: auto;
  margin: -61px auto 60px;
}

.u-section-1 .u-group-elements-2 {
  min-height: 918px;
  height: auto;
  margin-top: 157px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 3.75rem;
  background-image: linear-gradient(to right, #358ee5, #8ec7ff);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  font-weight: 700;
  margin: 239px 0 0 auto;
  padding: 52px 134px 52px 132px;
}

.u-section-1 .u-image-5 {
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -228px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 3.75rem;
  background-image: linear-gradient(to right, #358ee5, #8ec7ff);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  font-weight: 700;
  margin: 130px 0 0 auto;
  padding: 51px 151px 52px 150px;
}

.u-section-1 .u-image-6 {
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -224px auto 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 3.75rem;
  background-image: linear-gradient(to right, #358ee5, #8ec7ff);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  font-weight: 700;
  margin: 79px 0 0 auto;
  padding: 51px 151px 52px 150px;
}

.u-section-1 .u-image-7 {
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -223px auto 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 3.75rem;
  background-image: linear-gradient(to right, #358ee5, #8ec7ff);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  font-weight: 700;
  margin: -1213px 0 0 auto;
  padding: 52px 132px 52px 131px;
}

.u-section-1 .u-image-8 {
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -227px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1622px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 49px;
    margin-right: calc(((100% - 940px) / 2) + -398px);
  }

  .u-section-1 .u-image-4 {
    width: 940px;
    height: 317px;
    margin-top: -343px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 4px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 890px;
    margin-top: 124px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 248px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -229px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 102px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -229px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 84px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1548px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2) + -398px);
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 243px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -11px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 912px;
    margin-top: 297px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 81px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -230px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 124px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -233px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 88px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1182px;
  }

  .u-section-1 .u-image-2 {
    width: 176px;
    height: 96px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 65px;
    margin-right: calc(((100% - 540px) / 2) + -398px);
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 182px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 549px;
    min-height: 898px;
    margin-top: 7px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 668px;
    margin-top: 230px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
    margin-top: 17px;
    padding-right: 136px;
    padding-left: 135px;
  }

  .u-section-1 .u-image-5 {
    width: 200px;
    height: 200px;
    margin-top: -181px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 2.25rem;
    margin-top: 53px;
    margin-right: 1px;
    padding-right: 153px;
    padding-left: 152px;
  }

  .u-section-1 .u-image-6 {
    width: 200px;
    height: 200px;
    margin-top: -183px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 2.25rem;
    margin-top: 53px;
    padding-right: 153px;
    padding-left: 152px;
  }

  .u-section-1 .u-image-7 {
    width: 200px;
    height: 200px;
    margin-top: -183px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 2.25rem;
    margin-top: -880px;
    padding-right: 133px;
  }

  .u-section-1 .u-image-8 {
    width: 200px;
    height: 200px;
    margin-top: -184px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 832px;
  }

  .u-section-1 .u-image-2 {
    width: 100px;
    height: 59px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 102px;
    margin-right: calc(((100% - 340px) / 2) + -398px);
  }

  .u-section-1 .u-image-4 {
    width: 420px;
    height: 142px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 390px;
    min-height: 679px;
    margin-top: 11px;
    margin-bottom: 0;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 499px;
    margin-top: 156px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 14px;
    padding: 39px 112px 39px 111px;
  }

  .u-section-1 .u-image-5 {
    width: 150px;
    height: 150px;
    margin-top: -134px;
    margin-left: 2px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.5rem;
    margin-top: 34px;
    margin-right: 0;
    padding: 39px 111px;
  }

  .u-section-1 .u-image-6 {
    width: 150px;
    height: 150px;
    margin-top: -131px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.5rem;
    margin-top: 43px;
    padding: 39px 130px;
  }

  .u-section-1 .u-image-7 {
    width: 150px;
    height: 150px;
    margin-top: -137px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.5rem;
    margin-top: -661px;
    padding: 39px 106px 39px 104px;
  }

  .u-section-1 .u-image-8 {
    width: 150px;
    height: 150px;
    margin-top: -132px;
    margin-bottom: 529px;
  }
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]),
.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 394px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 631px;
  margin: 37px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(120deg, #adcce9, #f2f2f2);
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-2 .u-custom-html-1 {
  margin-top: 39px;
  margin-bottom: 0;
  height: auto;
  min-height: 28px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-2 .u-text-1 {
    width: 242px;
    margin-top: 41px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-2 .u-text-1 {
    width: 202px;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 18px;
  }
}