 .u-section-1 {
  background-image: none;
  min-height: 881px;
}

.u-section-1 .u-image-1 {
  width: 206px;
  height: 119px;
  margin: -599px 0 60px auto;
}

.u-section-1 .u-image-2 {
  width: 311px;
  height: 182px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 928px;
  height: 324px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -182px auto 0;
}

.u-section-1 .u-list-1 {
  width: 935px;
  margin: 47px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 285px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 250px;
  height: 250px;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 250px;
  height: 250px;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 250px;
  height: 250px;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg);
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 839px;
  }

  .u-section-1 .u-image-2 {
    width: 220px;
    height: 129px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -129px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 41px;
  }

  .u-section-1 .u-image-4 {
    width: 225px;
    height: 225px;
  }

  .u-section-1 .u-image-5 {
    width: 225px;
    height: 225px;
  }

  .u-section-1 .u-image-6 {
    width: 225px;
    height: 225px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 717px;
  }

  .u-section-1 .u-image-2 {
    width: 166px;
    height: 97px;
  }

  .u-section-1 .u-image-3 {
    width: 566px;
    height: 197px;
    margin-top: -63px;
  }

  .u-section-1 .u-list-1 {
    width: 721px;
    margin-top: 35px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 271px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-image-4 {
    width: 200px;
    height: 200px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-image-5 {
    width: 200px;
    height: 200px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-image-6 {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1164px;
  }

  .u-section-1 .u-image-2 {
    width: 133px;
    height: 78px;
  }

  .u-section-1 .u-image-3 {
    width: 601px;
    height: 203px;
    margin-top: -67px;
    margin-left: calc(((100% - 540px) / 2) + -30px);
  }

  .u-section-1 .u-list-1 {
    width: 260px;
    margin-top: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 810px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 35px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 35px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 838px;
  }

  .u-section-1 .u-image-2 {
    width: 113px;
    height: 66px;
  }

  .u-section-1 .u-image-3 {
    height: 132px;
    width: 390px;
    margin-top: -58px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 608px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 4px;
  }

  .u-section-1 .u-image-4 {
    width: 175px;
    height: 175px;
    margin-top: 15px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-5 {
    width: 175px;
    height: 175px;
    margin-top: 15px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 4px;
  }

  .u-section-1 .u-image-6 {
    width: 175px;
    height: 175px;
    margin-top: 15px;
  }
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]),
.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 30px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.04) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9dd3-31:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.06) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-color: transparent !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1.06) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-5 {
  border-color: transparent !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-5 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before,
.u-section-1 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-6 {
  border-color: transparent !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-6 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9dd3-78:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]),
.u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9dd3-81:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]),
.u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]).u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9dd3-84:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 602px;
}

.u-section-2 .u-image-1 {
  width: 671px;
  height: 253px;
  margin: -137px auto 0;
}

.u-section-2 .u-btn-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-style: solid;
  background-image: none;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 104px auto 0 413px;
  padding: 51px 151px 52px 150px;
}

.u-section-2 .u-image-2 {
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -216px auto 60px 270px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 85px;
    margin-left: 305px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 68px;
    margin-left: 139px;
    padding: 25px 62px;
  }

  .u-section-2 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: -165px;
    margin-left: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-2 .u-image-1 {
    height: 203px;
    margin-top: -115px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 81px;
    margin-left: 42px;
    padding: 28px 93px 29px 92px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -168px;
    margin-right: 42px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-2 .u-image-1 {
    height: 148px;
    margin-top: -82px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -364px;
    margin-left: 0;
    padding-left: 47px;
    padding-right: 47px;
  }

  .u-section-2 .u-image-2 {
    width: 175px;
    height: 175px;
    margin-top: 30px;
    margin-right: auto;
  }
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 767px;
}

.u-section-3 .u-image-1 {
  width: 737px;
  height: 249px;
  margin: -122px auto 0;
}

.u-section-3 .u-image-2 {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  width: 250px;
  height: 250px;
  margin: 92px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 192px;
  margin-top: 113px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 0px 0px;
  grid-template-columns: auto auto auto auto auto auto;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-3 .u-gallery-1 {
    height: 157px;
    margin-top: 123px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(6, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-3 .u-image-1 {
    height: 243px;
    margin-top: -121px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    width: 225px;
    height: 225px;
    margin-top: 66px;
  }

  .u-section-3 .u-gallery-1 {
    height: 118px;
    margin-top: 101px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto auto auto auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-3 .u-gallery-1 {
    height: 93px;
    margin-top: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-3 .u-image-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    transition-duration: 0.5s;
    width: 175px;
    height: 175px;
    margin-top: 60px;
  }

  .u-section-3 .u-gallery-1 {
    height: 59px;
    margin-top: 109px;
  }
}

.u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]),
.u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-6b42-7:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]),
.u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: transparent !important;
}

.u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]).u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout:hover .u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-6b42-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1.06) translateX(0px) translateY(0px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 405px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 48px auto 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 15px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 631px;
  margin: 17px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    margin-bottom: 12px;
  }
}